@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.container1{
    position: sticky;
    top: 0;
    width: 100%;
    height: 57px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 200%;
    overflow: hidden;
}
.main{
    margin-left: 70px;
    margin-right: 70px;
}

a:link, a:visited {
    margin-left: 35px  ;
    font-family: 'Francois One', sans-serif;
    font-size: 22px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: red;
  }
  .img-header{
    margin-top: 3px;
    max-width: 160px;
    max-height: 160px;
  }
  